*{
    padding: 0;
    margin: 0;

    box-sizing: border-box;
}
.card{
    padding: 1.rem;
    width: 22.rem;
    margin: 6em auto 0;
    font-size: 16px;
    border-radius: 1.rem;
    background-color: violet;
    color: white;
}
p{
    color: lightblue;
    margin: 0.75em 0 0.75em;
    font-size: 16px;
}
h3{
    font-size: 1.rem;
}
h6{
    font-size: 14px;
}

.small{
    padding: 24px;
    width: 360px;
    margin: 6em auto 0;
    font-size: 16px;
    border-radius: 1.rem;
    background-color: violet;
    color: white;
}